
body {
    height: 96vh;
    background-color: black;
    background-image: url('imagens/tela-inicio.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.795);
    height: 50px;
    width: 100%;
    padding: 2px;
    position: fixed;
    top: 0;
    left: 0;
}

#logo {
    height: 50px;
    width: 600px;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
}

#logo h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 5px;
}

#menu {
    height: 50px;
    width: 400px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}


#menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 10px;

}

#menu a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    font-size: 20px;
    margin-right: 15px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.13);
}

main {
    background-color: rgba(255, 255, 255, 0.466);
    width: 320px;
    height: 450px;
    padding: 10px;
    margin: 2px;
    border: 1px solid rgb(192, 189, 189);
    border-radius: 15px;
    box-shadow: black 0.2px 0.1px 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(170%, -65%);
}

h1 {
    text-align: center;
}
